/*Reset CSS*/
body,
html {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background: #efefef;
}

h1, h2, h3 {
  margin: 0;
}

h1 {
  margin-bottom: 20px;
}

img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

/*
 Instructions:
 Check "answer-preview-image.png" for the final look of the expected result
 Check "answer-detailed-guidelines.png" for detailed requirements, note that 
 we have 3 special requirements:

1) as the window is resized, keep the image centered
2) maintain the image ratio (the text box ratio may change)
3) the image should not be cut off in any size window

 Check "answer-preview-video.mov" for visual requirements when the window 
 is resized. NOTE: resizing the window will cause the viewport ratio to 
 change. The affects scaling, height, and width of content. Please compare 
 the video to the detailed guidelines.
*/
.container {
  display: block;
  position: relative;
  width: 100%;
  margin: 0px auto;
  background: white;
  font-size: 0;
}

.container .text-block {
  width: 37.645448%;
  background: #e3e3e3;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: auto;
}

.container .text-block .text-wrapper {
  margin: 0 auto;
  padding: 0 10%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
}

.container .text-block .text-wrapper h1 {
  margin: 0 0 7px;
  padding: 0;
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
}

.container .text-block .text-wrapper h3 {
  margin: 0;
  padding: 0;
  font-size: 22px;
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: black;
}

.container .image-block {
  display: inline-block;
  vertical-align: top;
  width: 24.709104%;
}
